{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">生産計画と実績の見える化のアプリ</h1>
            <div class="col-lg-6 mx-auto pt-5">
                <div class="d-grid gap-5 d-sm-flex justify-content-sm-center">
                    <a href="#" type="button" class="btn btn-primary btn-lg px-4 gap-3">管理者</a>
                    <a href="#" type="button" class="btn btn-outline-secondary btn-lg px-4">オペレーター</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}